/* global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #2c2c2c;
}



body { 
    display: flex;
    flex-flow: column;
    /* border: 2px dashed aqua; */
    margin-top: 0;
}
/* header */
header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-bottom: 1px solid #F0F0F2;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgba(240, 240, 242, 0.3);
    width: 100%;
    position: fixed;
    margin-top: 0 ;

    
}

.containerLeft {
    display: flex;
    flex-basis: 30%;
}
.container {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-content: flex-end;
}
.containerRight {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;
    margin-right: 20px;
}

.plus {
    height: 49px;
    width: 49px;
    background: #373f41;
    color: rgba(255, 254, 254, 0.9);
    font-size: 32px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    width: 320px;
    justify-content: space-between;
    margin-left: 30px;
    align-items: baseline;
    margin-top: 12px;
    color: #373f41;
    font-weight: 300;
    font-size: 13px;
}

.logo {
    margin-top: 3px;
    height: 45px;
}

.workspace {
    display: flex;
    align-items: center;
}

.workspaceImg {
    margin-top: 5px;

}

.navUser {
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
}

.userTypeHeader {
    font-size: 13px;
    font-weight: 500;
}

.userNameHeader {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
}

.userRight {
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}

.imgUserType {
    width: 18px;
}

#userTypeImg {
    width: 30px;
}

/* bar */
.contentHeaderSection {
    /* border: 1px solid aqua; */
    display: flex;
    margin-top: 90px;
    height: 50px;
    justify-content: space-between;
    align-items: flex-end;
}

.header {
    display: flex;
   
}

h1 {
    font-size: 24px;
    font-weight: 500;
    /* border: 1px solid cadetblue; */
    padding-right: 30px;
    padding-left: 77px;
    
}
.userImg {
    height: 30px;
    /* border: 1px solid deeppink; */
    display: flex;
}

/* bar */
.menuBar {
    display: flex;
   /* border: 1px solid firebrick; */
   margin-right: 20px;
   align-items: center;
   
}

.button {
    height: 30px;
    width: 96px;
    font-size: 13px;
    background-color: #f4f5f4;
    border: 1px solid #e2e5e6;
    border-radius: 6px;
    margin-right: 20px;
}

.btnDiv {
    background-color: white;
     border: none;
     display: flex;
     align-items: center;
     margin-right: 20px;
     /* margin-left: 20px; */
}


/* content */
.tableSection{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.tableContainer {
    /* border: 1px solid aqua; */
    width: 90%;
    
}

.ulContainer {
    display: flex;
    justify-content: space-around;
    /* border: 1px dashed deeppink; */
    font-size: 13px;
    font-weight: 300;
    padding: 0 200px;
    margin-top: 50px;
    width: 100%;
    /* border: 1px dashed cadetblue; */
    

}

.item:nth-of-type(1) {
    font-weight: 400;
}
.column {
    /* background-color: deeppink; */
    /* width: 100%; */
    flex-grow: 2;
     /* border: 1px solid gold; */
  
}

.column:nth-of-type(1){
    flex-grow: 10;
}
.item {
    height: 55px;
    border-bottom: 1px solid #e6e9ef;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}

.column:nth-of-type(1) > .item {
    justify-content: flex-start;
    
}

#name {
    padding-left: 30px;
}

.space {
    height: 200px;
}

.setting    {
    max-width: 200px;
    
}